.snake__screen{
    background-color: #ccc;
    width: 50vmin;
    height: 50vmin;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);

}
.snake{
    background-color: rgb(9, 121, 5);
    border: .25vmin solid black;
}
.food{
    background-color: red;
    border: .25vmin solid black;

}